.navbar {
    background-color: #fff;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom:solid;
    border-color: #082e7c;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  .logo{
    max-width: 130px;
  }
  .align-right{
    text-align: -webkit-right;
  }
  .nav-menu {
    background-color: #082e7c;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
    border:solid;
    border-color: #082e7c;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;

  }
  
  .nav-menu-items {
    width: 100%;
    padding-left: 0;
  }
  
  .navbar-toggle {
    background-color: #082e7c;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }
  